@import "~bootstrap/scss/bootstrap.scss";


body{
    background: black;
    font-size: 1rem;
    background: #454545;
    text-shadow: 2px 2px green;
  color: yellowgreen;



}
button {
    background: #6d5959;
}
.modal-content{
    background: #6d5959;
}
.gameArea {
  margin-top: 40px;
  min-height: 50vh;
  min-width: 50vw;
  max-height: 60vh;
  max-width: 60vw;
  margin: auto;
  justify-content:center;
  margin-bottom: 10%;
  margin-top:10%;
  
}

.gameBox {
  min-height: 33%;
  min-width: 33%;
  font-size:2rem;
  text-align: center;
  padding:10%;
  text-shadow: 2px 2px green;
  color: yellowgreen;
  
  
}
.centered {
 position: fixed;
  top: 40%;
  left: 50%;
  
  transform: translate(-50%, -50%);
}
.congrats{
  padding:5px;
  font-style:italic;
  text-align:center;
}
.playAgainButton {
 
 border-radius:5px;
}
.bl{
  border-left:3px groove greenyellow;
}
.bb{
  border-bottom:3px groove greenyellow;
}
.br{
  border-right:3px groove greenyellow;
}